{%extends "firstapp/base.html"%}
{%block title%}Index{%endblock title%}
{%block header%}Главная страница{%endblock header%}
{%block content%}
<p>Категории продуктов</p>
{%if cat%}
  <ul>
    {%for i in cat%}
      <li>{{ i }}</li>
    {%endfor%}
  </ul>
{%else%}
  <li>Категории продуктов отсутствуют</li>
{%endif%}
{%with name="ЧАЙХАНА" nom=1%}
  <div>
    <p>При магазине работает {{ name }}</p>
    <p>Номер № {{ nom }}</p>
  </div>
{%endwith%}

{%with name="РЫБОЛОВОЧНЫЙ МАГАЗИН" nom=2%}
  <div>
    <p>Также работает {{ name }}</p>
    <p>Номер № {{ nom }}</p>
  </div>
{%endwith%}
{%endblock content%}